<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	<classes>
      <class name="Poshpeople.OrderFunctionality"/>
      <class name="Poshpeople.cartfunctionality"/>
      <!-- Add more test classes here -->
    </classes>    
	  
  </test> <!-- Test -->
</suite> <!-- Suite -->
